<!-- views/profile.ejs -->
<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>
		<link id='css' rel="stylesheet" href="/public/style2.css" type="text/css">
		<link rel="icon" href="/public/images/favicon.ico" />
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/public/javascript/analyse.js"></script>
		<script src="/public/javascript/jquery.js"></script>
		<script src="/public/javascript/url.js"></script>
		<script src="/public/javascript/store.js"></script>
		<script src="/public/javascript/listMaker.js"></script>
		<script src="/public/javascript/svg_library.js"></script>
		<title id="title">Hermessage</title>
	</head>
	<body>
		
		<div id="page_block">
			<div id = 'div_fond_popup' style =  'display:none'></div>
			<div id='div_form_pass' style='display:none'>
				<form action='/' method='post' id='form_pass' autocomplete='off' style='width:130%'>
					<input style="display:none" type="password" name="fakepasswordremembered"/>
					<input type ='password' class="static-textbox" placeholder='Mot de passe' size='50' autocomplete='off'id ='entrer_room_pass' style='opacity:1;background:white;'>
					<input type='submit' style='display:none'>
				</form>
			</div>

			<nav id='menu_gauche' class='menu_gauche'>
				<div id='profil'>
					<a class='statut' href=''></a>
					<h1 class='titre-section' style="text-align:left;padding-left:1em;">Profil</h1>
					<div class='bloc'>
						<img id='profilpic' src='/public/images/profil_pic.PNG'>
						<p>
							<span style="position: absolute;top: 0;left: 6.5em;font-family:Roboto">Nom: <%=user.local.name%></span>
						<p>
						<p style="position: absolute;left: 6.5em;top: 1em;">
							<span style='float:left;font-family:Roboto; margin-top: 0.15em;'>Pseudo:  </span>
								<input type="text" id="pseudo" value="<%=user.local.name%>" size="5" autocomplete="off"/>
								<input type="submit" style='display:none'></input>
						</p>
						<span class="bouton relative" id="furtif" style="position: absolute;top: 3.3em;left:7em">Passer furtif</span>
					</div>
				</div>
				<div id='gestion_room'>
					<h1 id ='Titre_Room' class='titre-section' style="text-align: left;padding-left: 1em;width: 65%;display: inline-block;float: left;">Rooms</h1>
					<div id='ajouter'>
						<img id = 'image_ajouter' src='/public/images/bouton_ajouter.png' style='width:1em;'></img>
					</div>
					<div id='div_form_ajouter' style='display:none'>
						<form action='/' method='post' id='form_ajouter' autocomplete='off'>
							<input style="display:none" type="text" name="fakeusernameremembered"/>
							<input style="display:none" type="password" name="fakepasswordremembered"/>
							<input type ='text' class="static-textbox" placeholder='Entrez nom de room' size='50' autocomplete='off' id ='ajouter-room-input'>
							<input type ='password' class="static-textbox" placeholder='Password (optionnel)' size='50' autocomplete='off'id ='ajouter-room-pass'>
							<input type ='submit' style='display:none'>
						</form>
					</div>
					<div id='bloc_recherche'>
						<input class="static-textbox" type="text" name="recherche" id="rechercher_room" placeholder="Chercher une room" size="50" autocomplete="off"/>
						<div id='container_recherche'></div>
					</div>
					<aside id='rooms' style='overflow:hidden'>
						<div id='container-rooms'>
						</div>
					</aside>
				</div>

			</nav>
			<section id="hermess_chat">
				<form action="/" method="post" id="formulaire_chat" style='margin-bottom:2em'>
					<input class="textbox" type="text" name="message" id="message" placeholder="Votre message..." size="50" autofocus autocomplete="off" />
					<span id="flr">#FLR</span>
				</form>

			</section>
			<nav id='menu_droite' class='menu_droite'>
				<header>
				<a href='#'><h1>HERMÈS<span class='blue'>S</span>AGE <img src="/public/images/hermessage02.png" id="photo" /></h1></a>
				<em class="header">Harder, better, faster, stronger IRC</em>
				<br>
				</header>
				<div id="users">
					<h1 class="titre-section">Utilisateurs en ligne</h1>
					<div id='liste-users'></div>
				</div>
				<div id="contacts">
					<h1 class="titre-section">Contacts</h1>
					<div id='liste-contacts'></div>
					
					
				</div>
				<article id='description'>
					<h1 class="titre-section">Descriptif de la room</h1>
					<article id='descriptif'>
						<em>Bienvenue sur Hermessage, un service de discussion massive plus rapide que jamais! Rejoignez des rooms publiques pour rencontrer du monde ou créez des rooms privées pour vos amis et vous!</em>
					</article>
					<article id="test_list">
					</article>
				</article>
			</nav>
			<div id="sound"></div>

		</div>
		<footer>
			<div id="boutons" style='width:100%'><a href="/logout" id="logout" class='bouton'>Logout</a><a href="/logout" id="logout" class='bouton'>Contact</a><a href="/logout" id="logout" class='bouton'>Premium</a></div>
			<em>Réalisé par Félix Alié & David Gödicke 2015</em>
		</footer>


		<script src="/socket.io/socket.io.js"></script>
		<script>
			var roomList = [];
			var active = 'Accueil';
			var notifs = {};
			initStore(localStorage);
			var furtif = false;
			var respond = '';
// Initialisation de session ===================================================
			var pseudo = '<%=user.local.name%>';
			var name = '<%=user.local.name%>';
			var socket = io.connect(getURL() + '/chat');
			socket.emit('give_id','<%=user._id%>');


// Reception socket=============================================================
			socket.on('get_name',function(name)
			{
				pseudo = name;
				$('#pseudo').val(pseudo);
				htmlPrint('<p class="info">Vous devenez '+pseudo+'</p>','Accueil');
			});
            socket.on('message', function(data)
            {
                store(htmlPrint(htmlMakeR(data),data.room),localStorage);
                if(blur==true && nouveau==false)
                {
                	actualise_titre('message');
                }
                if(blur==true)
                {
                	playSound('notif');
                }
                if(data.room != active)
                {
                	if(!notifs[data.room])
                		notifs[data.room]=0;
                	notifs[data.room] += 1;
                	var content = ajoute_notif(data.room,notifs);
                	var tab_rooms = $('.room');
                	tab_rooms.each(function(index)
                	{
                		if(nomsRooms[$(this).attr('id')] == data.room)
                		{
                			$($(this).children()[0]).empty().append(content);
                		}
                	});
                }
            })
			socket.on('command',function(data)
			{
				store(htmlPrint(htmlMakeR(data),data.room),localStorage);
			});
			socket.on('video',function(data)
			{
				htmlPrint(htmlMakeR(data),data.room);
			});
			socket.on('whisper',function(data)
			{
				respond = data.from;
				var rooms = $('.zone_chat');
				rooms.forEach(function(room)
				{
					htmlPrint(htmlMakeR(data),data.room);				});
				
				if(blur==true && nouveau==false)
				{
                	actualise_titre('whisper');
                }
                if(blur==true)
                {
                	playSound('notif');
                }
			});
            socket.on('nouveau_client', function(pseudo) 
            {
                $('#room_'+stringToId('Accueil')).prepend('<p><em>' + pseudo + ' a rejoint le Chat !</em></p>');
				store('<p><em>' + pseudo + ' a rejoint le Chat !</em></p>',localStorage);
				actualise_liste();
				playSound('connexion');
            });
			socket.on('deco', function(message) 
			{
                $('#room_'+stringToId('Accueil')).prepend(message);
				store(message,localStorage);
            });
			socket.on('wrong',function(message)
			{
				$('#room_'+stringToId('Accueil')).prepend('<p style="color: red;">'+message+'</p>');
				store('<p style="color: red;">'+message+'</p>',localStorage);
			});
			socket.on('info',function(message)
			{
				$('#room_'+stringToId("Accueil")).prepend('<p style="color: green;">'+message+'</p>');
				store('<p style="color: green;">'+message+'</p>',localStorage);
			});
			socket.on('room_list',function(data)
			{
				var val = $('#rechercher_room').val();
				if(val == data.text)
				{
					var content = make_room(data.list);
					
					if(!($('#container_recherche').is(':visible')))
					{
						$('#container_recherche').show(0);
					}
					
					$('#container_recherche').empty().append(content.res);
					actualise_liste_recherche(content.tab);
				}
			});
			socket.on('my_room',function(data)
			{
				var content = make_myroom(data);
				$('#container-rooms').empty().append(content);
				if(!roomList)
					var toAdd = data;
				else{
					var toAdd = newInList(roomList,data);
					var toRem = oldInList(roomList,data);
				}
				if(toAdd)
					addRooms(toAdd);
				if(toRem)
					remRooms(toRem);
				roomList = data;
				actualise_liste_room();
				if($('.room-active').length==0)
				{
					$('.room').each(function(index)
					{
						if($(this).text() == active)
						{
							$(this).click();
							return false;
						}

					});
				}

			});
			socket.on('ask_history',function(data)
			{
				data.storage.forEach(function(line)
				{
					$('#room_'+stringToId(data.room)).append(htmlMakeR(line));
				});
			});
			socket.on('room_user_list',function(data)
			{
				content = make_list(data);
				$('#list_'+stringToId(data.room)).empty().append(content);
				actualise_liste();
			});

// Action JQuerry ==============================================================
            $('#formulaire_chat').submit(function() 
            {
                var message = $('#message').val();
				if(message == '/clear')
				{
					clearStorage(localStorage);
					$('#Accueil').empty();
				}
				else if(message != "")
				{
					var data = parse(message,active);
					send(data,socket);
					var toPrint = htmlMakeS(data,pseudo);
					htmlPrint(toPrint,data.room);
					store(toPrint,localStorage);
				}
				$('#message').val('').focus();
				return false; // Permet de bloquer l'envoi "classique" du formulaire
            });
            $('#rechercher_room').keyup(function()
            {
				if(this.value)
					socket.emit('room_list', this.value);
				else
					$('#container_recherche').empty();
            });

            $('.titre-section').click(function()
            {
            	var j = 1;
           		var a = $($(this).parent()).children();
           		switch($(this).text())
           		{
           			case 'Rooms':
	           			j = 3;
	           			$(a[2]).hide(250);
	           			break;
	           		case 'Profil':
	           			window.open('/profile');
	           			return false;
	           			break;
           		}
	            for(i = j;i<a.length;i++)
	            {
					$(a[i]).toggle(250);
				}
            });
            $('#image_ajouter').click(function()
            {
            	$('#div_form_ajouter').toggle(250);
            	$('#ajouter-room-input').focus();

            });
            $('#form_ajouter').focusout(function(event)
            {
            	setTimeout(function()
            	{
					if (!event.delegateTarget.contains(document.activeElement))
					{
						$('#div_form_ajouter').hide(250);
					}
				}, 0);
            });
            $('#form_ajouter').submit(function()
            {
				var pass = $('#ajouter-room-pass').val();
            	var data =
            	{
            		command : '/create',
            		message : $('#ajouter-room-input').val()
            	};
            	if(pass != '')
            	{
            		data.password = pass;
            	}
            	socket.emit('room',data);
            	$(this).hide(250);
            	$('#ajouter-room-input').val('');
            	$('#ajouter-room-pass').val('');
            	return false;
            });
            $('#page_block').click(function()
            {
            	$('#container_recherche').hide(0);
            	$('#rechercher_room').val('');
            	//$('.grande_video').attr('class','');
            });

            $('#entrer_room_pass').focusout(function()
            {
            	$('#div_fond_popup').hide(0);
            	$('#div_form_pass').hide(0);
            	$(this).val('');
            });
            $('#changer_pseudo').click(function()
            {
            	$('#pseudo').focus().val('').css('background','white !important');
            });
            $('#pseudo').bind('keypress',function(e)
            {
            	console.log('on rentre ici');
            	var code = e.keyCode || e.which;
 				if(code == 13) 
 				{
 					console.log('on rentre la');
	            	var data = {};
	            	data.message = $('#pseudo').val();
	            	data.command = '/nick';
	            	socket.emit('command',data);
	            	$('#pseudo').blur();
            	}

            }).blur(function(){
            	setTimeout(function()
            	{
            		$('#pseudo').val(pseudo);
           		},100);
            });
            $('#message').bind('keypress',function(e)
            	{
            		var code = e.keyCode || e.which;
            		if(code == 9)
            		{
            			$('#message').val('/w "' + respond+'" ').focus();
            		}
            	});
            $('iframe').click(function()
            {
            	$(this).attr('class','grande_video');
            });
            $("#furtif").click(function() {
	            if(!furtif)
	            {
				    $("head link#css").attr("href","/public/furtif.css");
				    $('body').prepend("<img class='fake_menu' src='/public/images/head.png'>");
				    $('#furtif').text('Mode Normal');
				    $('.menu_gauche').hide(0);
				    furtif = true;
				    disp_menu();
				}
				else
				{
					$("head link#css").attr("href","/public/style2.css");
					$(".fake_menu").hide(0);
					$('#furtif').text('Passer furtif');
					furtif = false;
				}
			});
			function disp_menu(){
				$('.fake_menu').click(function()
				{
					$('.menu_gauche').toggle(250);
				});
			}
		</script>
	</body>
</html>
